<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> @ViewData["ProviderName"]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="/images/examination_logo-32.ico" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/axios/axios.min.js" asp-append-version="true"></script>
    <script src="~/lib/layui/layui.js" asp-append-version="true"></script>
    <script src="~/web/base.js?v=20241014"></script>
    <script src="~/web/requestapi.js"></script>
    <script src="~/web/layextend.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        let requestToken = $('@Html.AntiForgeryToken()').val();
        function mainTheme(bg){
           if(bg){
            localStorage.setItem('main-bg-color',bg);
           }
            //$('.main-bg-color').attr('style:background-color','#'+bg+'!important');
            $('.main-bg').each((item,elem)=>{
               $(elem)
               .removeClass('main-bg-color')
               .removeClass('main-bg-blue-normal')
               .removeClass('main-bg-blue-activity')
               .removeClass('main-bg-blue-black')
               .removeClass('main-bg-jade')
               .removeClass('main-bg-purple')
               .addClass(bg);
            })
        }
        setTimeout(()=>{
                    mainTheme(localStorage.getItem('main-bg-color'));

        },200)
    </script>
    <style>
        .main-bg-color {
            background-color: #0F3888 !important;
            color: #fff !important;
        }

        .main-bg-blue-normal {
            background-color: #3C71F7 !important;
            color: #fff !important;
        }

        .main-bg-blue-activity {
            background-color: #1e9fff !important;
            color: #fff !important;
        }

        .main-bg-blue-black {
            background-color: #080F2D !important;
            color: #fff !important;
        }

        .main-bg-jade {
            background-color: #00895A !important;
            color: #fff !important;
        }

        .main-bg-purple {
            background-color: #a233c6 !important;
            color: #fff !important;
        }
    </style>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header layui-bg-blue main-bg main-bg-color">
            <div class="layui-logo layui-hide-xs layui-elip layui-font-20" style="color:yellow">
                @ViewData["ProviderName"]
            </div>
            <!-- 头部区域（可配合layui 已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <!-- 移动端显示 -->
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </li>
                <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" onclick="$('#main-container').attr('src', '/system/dashboard/index');">Dashboard</a></li>
                <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" onclick="layer.alert('规划中！该特性为SaaS类软件产品的核心概念，通过开通不同的租户来管理不同的客户数据，使租户数据在物理隔离的前提下仍能实现业务的一致性。',{icon:4})">租户管理</a></li>
                <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" id="releaseLog" onclick="openTimeLine()" style="color:yellow">🌕更新记录</a></li>
                <li class="layui-nav-item layui-hide-xs layui-show-sm-inline-block">
                    <a href="javascript:;">
                        <font>主题配色</font>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="mainTheme('main-bg-color')" href="javascript:;" style="font-weight:bolder;color:#0F3888">干部蓝</a></dd>
                        <dd><a onclick="mainTheme('main-bg-blue-activity')" href="javascript:;" style="font-weight:bolder;color:#1e9fff">活力蓝</a></dd>
                        <dd><a onclick="mainTheme('main-bg-blue-normal')" href="javascript:;" style="font-weight:bolder;color:#3C71F7">经典蓝</a></dd>
                        <dd><a onclick="mainTheme('main-bg-blue-black')" href="javascript:;" style="font-weight:bolder;color:#080F2D">蓝黑</a></dd>
                        <dd><a onclick="mainTheme('main-bg-jade')" href="javascript:;" style="font-weight:bolder;color:#00895A">宝石绿</a></dd>
                        <dd><a onclick="mainTheme('main-bg-purple')" href="javascript:;" style="font-weight:bolder;color:#a233c6">丁香紫</a></dd>

                        
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a href="javascript:;">
                        <img src="/images/avatar.png" class="layui-nav-img">
                        <font id="adminName">tester</font>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">个人中心</a></dd>
                        @* <dd><a href="javascript:;">设置</a></dd> *@
                        <dd><a href="javascript:;" onclick="LogoutAccount()">退出账号</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-blue main-bg main-bg-color">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-bg-blue main-bg main-bg-color" lay-filter="sideNav" id="sideNav">
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            @RenderBody()

        </div>
        <div class="layui-footer" style="text-align:center">
            <!-- 底部固定区域 -->
            @ViewData["ProviderName"] Copyright © 2024 By @ViewData["FooterName"]
        </div>
        <div style="display:none" class="layui-bg-gray" id="rightMsgSide">
            <div class="layui-card" style="padding:10px;" id="rightMsgSide">
                <blockquote class="layui-elem-quote">
                    <a href="javascript:;">动作条数(待优化...) <span class="layui-badge" id="keyActionCnt"></span></a>

                </blockquote>
                <div class="layui-collapse" lay-filter="key-action" id="keyActionView" lay-accordion>
                </div>
                <br />
                @* <p style="float:right;margin-right:10px"><a href="javascript:;" class="layui-btn layui-btn-primary" id="loadMoreActions" onclick=" keyActionPageIndex += 1;fetchKeyActions()">加载更多</a></p> *@

            </div>
        </div>
        <div class="layui-panel" id="timelineView" style="display:none;">
        </div>

    </div>

    <script type="text/html" id="keyActionTpl">

        {{# layui.each(d,function(index,item){ }}
                <div class="layui-colla-item">
                    <div class="layui-colla-title">有新的管理动作-({{ item.action }})</div>
                    <div class="layui-colla-content layui-show">
                    动作内容：{{item.description}}<br />
                    路由地址：{{item.router}}
                    </div>
                </div>
        {{# }) }}
    </script>
    <script type="text/html" id="navTopSideMenuTpl">
        {{# layui.each(d,function(index,item){ }}
        <li class="layui-nav-item">
            <a href="javascript:;" class="navSideTopLink" onclick="fetchSubMenus('{{ JSON.stringify(item) }}')">{{ item.name }}</a>
            <dl class="layui-nav-child" id="{{ item.id }}_subSideNav_{{ item.depth }}"></dl>
        </li>
        {{# }) }}
    </script>

    <script type="text/html" id="navSideChildMenuTpl">
        
        {{# layui.each(d,function(index,item){ }}
        <dd>
            <a href="javascript:;" class="navSideSubLink" onclick="fetchSubMenus({{ JSON.stringify(item) }})">
                {{ item.name }}
                {{# if(item.isOuter==1){ }}
                 <i class="layui-icon layui-icon-link"></i>
                {{# } }}
            </a>
            {{# if(item.isLeef==1){ }}
                <dl class="layui-nav-item" id="{{ item.id }}_subSideNav_{{ item.depth }}"></dl>
            {{# }else { }}
                <dl class="layui-nav-child" id="{{ item.id }}_subSideNav_{{ item.depth }}"></dl>
            {{#} }}
        </dd>
        {{# }) }}
                
    </script>

    <script type="text/html" id="timelineTpl">
        <blockquote class="layui-elem-quote">
          说明，2024年10月10日以前的更新记录是按月总结，以后的更新按具体日期节点总结。
        </blockquote>
        <div class="layui-timeline" style="padding:30px">

            {{# layui.each(d,function(index,item){ }}
            <div class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis layui-icon-{{item.icon}}"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">{{- item.title }}</h3>
                    <p>
                        {{- item.content }}
                    </p>
                    <b>Author </b>:<cite> {{- item.author}}</cite>
                </div>
            </div>
            {{# }) }}
        </div>
    </script>

    <script>
        autoCheckLoginStatus();
        var breadcrumbArr = [];
        var navs = [];
        var element = layui.element;
        let keyActionPageIndex = 1;
        element.render('nav', 'sideNav');

        async function fetchTopMenus() {
            try {
                const result = await request('GET', '/system/menu/getmenus', { parentId: 0 });
                //console.log(result)
                renderTpl('navTopSideMenuTpl', 'sideNav', result.data, false)
                setTimeout(() => {
                    //临时，框架完整后，修改成一次请求把当前账号有的管理菜单都获取下来
                    result.data.forEach(u => {
                        // console.log(u)
                        fetchSubMenus(JSON.stringify(u));
                    })
                }, 100)

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        async function fetchSubMenus(itemStr) {
            let item = {};
            if (typeof (itemStr) == 'object') {
                item = itemStr
            } else
                item = JSON.parse(itemStr)
            if (item.isOuter == 1) {
                window.open(item.router);
                layer.alert('外链地址已在新窗口打开');
                return;
            }

            if (breadcrumbArr.filter(u => u.name == item.name & u.depth == item.depth).length == 0) {
                removeObjectFromArray(breadcrumbArr, 'depth', item.depth);
                item.depth == 0 ? breadcrumbArr = [] : "";

                breadcrumbArr.push({ depth: item.depth, name: item.name });
            }

            if (breadcrumbArr.filter(u => u.depth == item.depth).length == 0)
                breadcrumbArr.push({ depth: item.depth, name: item.name });


            localStorage.setItem("breadcrumb", JSON.stringify(breadcrumbArr.sort((a, b) => a.depth - b.depth)))

            if (item.isLeef == 1 && item.router !== '') {
                let loadingIndex = layer.load(2);
                $('#main-container').attr('src', item.router.replace('Controller', ''));
                $('#main-container').on('load', function () {
                    layer.close(loadingIndex);
                });
            }

            if (navs.length > 0 && navs.filter(u => u.menuId == item.id).length == 1 || item.sLeef == 1) {
                return;
            }



            try {
                navs.push({ menuId: item.id.toString(), status: true });
                const result = await request('GET', '/system/menu/getmenus', { parentId: item.id });

                renderTpl('navSideChildMenuTpl', item.id + '_subSideNav_' + item.depth, result.data, false);
                element.render('nav', 'sideNav');
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        fetchTopMenus();

        function LogoutAccount() {
            layer.confirm('若您开启了3天免登录，主动退出后再次访问需要重新输入账号密码，确定要退出当前账号吗？', { icon: 0 }, function () {
                location.href = '/system/account/login?msg=logout';
            })
        }

        function fetchKeyActions() {
            let whereJsonStr = {
                'Logic': 'And',
                'Filters': [{
                    'Field': 'AdminId',
                    'Operator': 'NotEqual',
                    'Value': '00000000-0000-0000-0000-000000000000'
                }]
            };
            let dto = { 'pageindex': keyActionPageIndex, 'pagesize': 50, 'whereJsonStr': JSON.stringify(whereJsonStr), 'orderby': 'id', 'isAsc': false, 'rd': randomInt };
            //let ret = request('GET', '/system/keyaction/GetKeyActions', dto);
            axios.get('/system/keyaction/GetKeyActions', { params: dto }).then(data => {
                console.log(data)
                let json = data.data;
                if (json.code == 0) {
                    $('#keyActionCnt').html(json.data.total);
                    renderTpl('keyActionTpl', 'keyActionView', json.data.items, true);
                    layer.open({
                        type: 1,
                        title: '消息',
                        content: document.getElementById('rightMsgSide').innerHTML,
                        area: ['360px', '100%'],
                        offset: 'rt', // 右上角
                        anim: 'slideLeft', // 从右侧抽屉滑出
                        shadeClose: true,
                        scrollbar: false
                    });
                    element.render('collapse', 'key-action');
                }

            })
        }

        jHtmlSet('adminName', localStorage.getItem('userName'))

        const releasejsonArr = [
                { 'icon': 'flag', 'title': '2024.03','author':'tony,miao', 'content': '立项，总结需求文档，分别为：<br /><a target="_blank" href="https://www.yuque.com/yuqueyonghuhz99ts/iw926p/psgtdd04r47tfa50?singleDoc#"> 《广东省教协在线考试系统设计草案》</a><br /><a target="_blank" href="https://www.yuque.com/yuqueyonghuhz99ts/iw926p/re57l9zvs1g5o7ek?singleDoc#">《广东教育协会考试系统项目整理》 密码：lan1</a>' },
                { 'icon': 'github', 'title': '2024.04','author':'tony', 'content': '开始搭建项目框架，以及各类基础设施，消息队列，缓存，日志，支付中心等' },
                { 'icon': 'release', 'title': '2024.05','author':'tony', 'content': '第一个版本开发完成，包含管理后台，客户端答题' },
                { 'icon': 'note', 'title': '2024.06', 'author':'tony','content': '客户端答题UI整体重塑，抛弃了原有响应式的设计风格，为多端单独设计，目前支持PC端；<br/>在对系统性能，并发能力做了大量的工作' },
                { 'icon': 'note', 'title': '2024.07','author':'tony', 'content': '教师判分系统开发完成,3个系统完成合并联调' },
                { 'icon': 'moon', 'title': '2024.08','author':'tony', 'content': '由于航天项目紧急，工程暂停' },
                { 'icon': 'fire', 'title': '2024.09', 'author':'tony','content': '客户端对接用户中心<br/>编写外部对接接口，文档地址：<a href="https://www.yuque.com/yuqueyonghuhz99ts/iw926p/gsp1l9mgf6ywn5cn?singleDoc" target="_blank">https://www.yuque.com/yuqueyonghuhz99ts/iw926p/gsp1l9mgf6ywn5cn?singleDoc</a><br/>增加大量定制需求，支持免付费，免审核，支持考试模式和练习模式<br/>增加脱敏设计，增加数据安全性' },
                { 'icon': 'note', 'title': '2024.10', 'author':'tony','content': '由于没有明确的需求，目前主要为完善流程，修复bug' },
                { 'icon': 'note', 'title': '2024.10.11', 'author':'tony','content': '完善服务端登录，支持3天免登录，验证码登录' },
                { 'icon': 'note', 'title': '2024.10.14', 'author':'tony','content': '处理修复反馈的问题，共计21条 <br />地址：👉<a href="https://kdocs.cn/l/ccKJLzE7aUeq" target="_blank">考试模块相关反馈-10.14</a>' },
                { 'icon': 'note', 'title': '2024.10.18', 'author': 'tony', 'content': '处理修复反馈的问题，共计10条 <br />地址：👉<a href="https://kdocs.cn/l/ccKJLzE7aUeq" target="_blank">考试模块相关反馈-10.18</a>' },
                { 'icon': 'face-surprised', 'title': '2024.10.22🚀', 'author': 'tony', 'content': '考试页面增加自定义配置参数，目前为第一版，后续仍有继续优化的空间' },
                { 'icon': 'note', 'title': '2024.10.23', 'author': 'tony', 'content': '处理修复反馈的问题，共计10条 <br />地址：👉<a href="https://kdocs.cn/l/ccKJLzE7aUeq" target="_blank">考试模块相关反馈-10.22</a>' },
                { 'icon': 'note', 'title': '2024.10.24', 'author': 'tony', 'content': '处理修复反馈的问题，共计4条 <br />地址：👉<a href="https://kdocs.cn/l/ccKJLzE7aUeq" target="_blank">考试模块相关反馈-10.24</a>' },
                { 'icon': 'note', 'title': '2024.10.28', 'author': 'tony', 'content': '处理修复反馈的问题，共计7条 <br />地址：👉<a href="https://kdocs.cn/l/ccKJLzE7aUeq" target="_blank">考试模块相关反馈-10.28</a>' },
                { 'icon': 'tree', 'title': '2024.11.07🌳', 'author': 'tony', 'content': '增加评分标准模型，判分时读取新的标准；<br/> 考试模型可以绑定指定的评分模型，需要注意考试产生了答题记录，就不可以修改评分模型了；<br/>重构客观题判分方法，采用统一的判分入口，且优化了数据结构，比如把原来的大值传递改为引用传递，性能提升明显，且增加了粗粒度的并发控制🔥' },
                { 'icon': 'star', 'title': '2024.11.08', 'author': 'tony', 'content': '增加主题配色' },
                { 'icon': 'auz', 'title': '2024.11.10', 'author': 'tony', 'content': '支持考试独立访问；<br/>支持生成快速访问二维码 <br/>客户端增加统一签名认证机制，提高安全性（质量属性优化，用户操作无感知）；<br />' },
                { 'icon': 'fire', 'title': '2024.11.12🔧', 'author': 'tony', 'content': '新增标签管理，可以跨模型，将两个看似毫不相干的实体建立联系，增加管理灵活性<br />标签的实际应用场景有：报名信息和试卷绑定相同的标签后，抽卷时，会对应只从具备相同标签的结果集中抽取<br />新增绑定标签的接口,地址：👉<a href="https://www.yuque.com/yuqueyonghuhz99ts/iw926p/gsp1l9mgf6ywn5cn?singleDoc#l1VJ9" target="_blank">新增申报人员绑定/修改标签接口</a>' },
            ];
        
        function openTimeLine() {
            renderTpl('timelineTpl', 'timelineView', releasejsonArr, false);
            openDiv('项目推进时间线', 'timelineView', '50%', '80%')
            localStorage.setItem('releaseVersion', releasejsonArr[0].title);
        }

        setTimeout(()=>{
            let releaseVersion = releasejsonArr.reverse()[0].title;
            let localReleaseVersion=localStorage.getItem('releaseVersion');
            if(releaseVersion !== localReleaseVersion ){
                layer.tips('有新的更新，点击查看', '#releaseLog', {
                    tips: [1, '#16b777']
                })
            }
        },100)
        
    </script>
</body>
</html>