@page
@model Magic.Guangdong.Exam.Client.Pages.Exam.ResultModel
@{
    Layout = "_LayoutExam";
}

<main class="container">
    <details>
        <summary role="button">选手基本信息</summary>
        <ul>
            <li>
                选手姓名：
                <font class="pico-color-violet-500" id="name">@Model.Name</font>
            </li>
            <li>
                考试科目：
                <font class="pico-color-violet-500" id="examTitle">@Model.ExamTitle</font>
            </li>
            <li>
                证件号码：
                <font class="pico-color-violet-500" id="idCard">@Model.IdCard</font>
            </li>
            <li>
                准考证号：
                <font class="pico-color-violet-500" id="reportNumber">@Model.ReportNumber</font>
            </li>
            <li>
                电子邮箱：
                <font class="pico-color-violet-500" id="email">@Model.Email</font>
            </li>
            @* <li>
                联系方式：
                <font class="pico-color-violet-500" id="email">@Model.Mobile</font>
            </li> *@
        </ul>
    </details>

    <article style="text-align:center">
        @{
            if (Model.OpenResult != DbServices.Entities.PaperOpenResult.No)
            {
                        <h3>您的考试成绩为</h3>
                        <h1 style="color:#e53935;">@Model.Score 分</h1>

                if (Model.OpenResult == DbServices.Entities.PaperOpenResult.YesAndDetail)
                {
                    <a href="/exam/detail?urid=@Model.Urid">
                        查看详情
                        <svg t="1713857457231" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5122" width="32" height="32"><path d="M776.854 776.328l57.87 57.87a1 1 0 0 1 0 1.414l-41.074 41.073a1 1 0 0 1-1.414 0l-57.87-57.869c-23.747 15.728-52.224 24.888-82.841 24.888-82.963 0-150.217-67.255-150.217-150.217 0-82.963 67.254-150.218 150.217-150.218 82.963 0 150.217 67.255 150.217 150.218 0 30.616-9.16 59.094-24.888 82.841zM305.868 358.273c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.823 30.095-29.823 16.62 0 30.095 13.352 30.095 29.823 0 16.47-13.474 29.823-30.095 29.823z m0 167.006c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.822 30.095-29.822 16.62 0 30.095 13.352 30.095 29.822s-13.474 29.823-30.095 29.823z m0 167.006c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.822 30.095-29.822 16.62 0 30.095 13.352 30.095 29.822 0 16.471-13.474 29.823-30.095 29.823z m67.409-393.658h303.506a1.2 1.2 0 0 1 1.2 1.2v57.246a1.2 1.2 0 0 1-1.2 1.2H373.277a1.2 1.2 0 0 1-1.2-1.2v-57.246a1.2 1.2 0 0 1 1.2-1.2z m0 167.007h303.506a1.2 1.2 0 0 1 1.2 1.2v57.245a1.2 1.2 0 0 1-1.2 1.2H373.277a1.2 1.2 0 0 1-1.2-1.2v-57.245a1.2 1.2 0 0 1 1.2-1.2z m0 167.006h93.227a1.2 1.2 0 0 1 1.2 1.2v57.245a1.2 1.2 0 0 1-1.2 1.2h-93.227a1.2 1.2 0 0 1-1.2-1.2V633.84a1.2 1.2 0 0 1 1.2-1.2z m278.248 150.977c49.778 0 90.13-40.353 90.13-90.13 0-49.778-40.352-90.13-90.13-90.13s-90.13 40.352-90.13 90.13c0 49.777 40.352 90.13 90.13 90.13zM238 751h241v60H208c-16.569 0-30-13.431-30-30V211c0-16.569 13.431-30 30-30h539c16.569 0 30 13.431 30 30v290.823h-60V241H238v510z" fill="#524ED2" p-id="5123"></path></svg>
                    </a>
                }
                if (Model.Marked == 2)
                {
                    <small>包含主观题得分</small>
                }
            }
            else
            {
                        <h3>提示</h3>
                        <h1 style="color:#e53935;" id="mainTip">已完成考试</h1>
                //不让查成绩
            }
        }
        @{
            if (Model.ExamType==DbServices.Entities.ExamType.Practice)
            {
            //<small id="msg" data-complated="no" style="color:#ffa000">未在规定时间内提交测评，无成绩</small>
                       <a href="/exam/detail?urid=@Model.Urid">
                            查看详情
                            <svg t="1713857457231" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5122" width="32" height="32"><path d="M776.854 776.328l57.87 57.87a1 1 0 0 1 0 1.414l-41.074 41.073a1 1 0 0 1-1.414 0l-57.87-57.869c-23.747 15.728-52.224 24.888-82.841 24.888-82.963 0-150.217-67.255-150.217-150.217 0-82.963 67.254-150.218 150.217-150.218 82.963 0 150.217 67.255 150.217 150.218 0 30.616-9.16 59.094-24.888 82.841zM305.868 358.273c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.823 30.095-29.823 16.62 0 30.095 13.352 30.095 29.823 0 16.47-13.474 29.823-30.095 29.823z m0 167.006c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.822 30.095-29.822 16.62 0 30.095 13.352 30.095 29.822s-13.474 29.823-30.095 29.823z m0 167.006c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.822 30.095-29.822 16.62 0 30.095 13.352 30.095 29.822 0 16.471-13.474 29.823-30.095 29.823z m67.409-393.658h303.506a1.2 1.2 0 0 1 1.2 1.2v57.246a1.2 1.2 0 0 1-1.2 1.2H373.277a1.2 1.2 0 0 1-1.2-1.2v-57.246a1.2 1.2 0 0 1 1.2-1.2z m0 167.007h303.506a1.2 1.2 0 0 1 1.2 1.2v57.245a1.2 1.2 0 0 1-1.2 1.2H373.277a1.2 1.2 0 0 1-1.2-1.2v-57.245a1.2 1.2 0 0 1 1.2-1.2z m0 167.006h93.227a1.2 1.2 0 0 1 1.2 1.2v57.245a1.2 1.2 0 0 1-1.2 1.2h-93.227a1.2 1.2 0 0 1-1.2-1.2V633.84a1.2 1.2 0 0 1 1.2-1.2z m278.248 150.977c49.778 0 90.13-40.353 90.13-90.13 0-49.778-40.352-90.13-90.13-90.13s-90.13 40.352-90.13 90.13c0 49.777 40.352 90.13 90.13 90.13zM238 751h241v60H208c-16.569 0-30-13.431-30-30V211c0-16.569 13.431-30 30-30h539c16.569 0 30 13.431 30 30v290.823h-60V241H238v510z" fill="#524ED2" p-id="5123"></path></svg>
                        </a>
            }
            
        }

        <footer>
            <a href="javascript:;" data-href="/report/index" role="button" class="outline" style="width:100%" id="btnBack">返回</a>
        </footer>
    </article>


</main>

<script>
    sessionStorage.removeItem("paperDetail");
    setTimeout(() => {
        if (document.querySelectorAll('.xxtSubItemsa').length > 1)
            $('#btnBack').attr('href', document.querySelectorAll('.xxtSubItemsa')[1].href)
        else
            $('#btnBack').attr('href', atob(getCookie('redirectfromexam')));
    },200)
    
</script>
