@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
@model Magic.Guangdong.DbServices.Dtos.Exam.Papers.FinalPaperDto
<div class="layui-row" style="padding:15px">
    <a href="javascript:;" id="btnBack" class="layui-btn layui-btn-primary" style="margin-bottom:15px"><i class="layui-icon layui-icon-left"></i>返回</a>
    <fieldset class="layui-elem-field">
        <legend>答题情况</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="recordView">
            </form>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>考卷信息</legend>
        <div class="layui-field-box">
            <form class="layui-form" lay-filter="baseForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">归属考试</label>
                        <div class="layui-input-inline" style="width:300px">
                            <input class="layui-input" disabled asp-for="@Model.ExamTitle" />
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">关联活动</label>
                        <div class="layui-input-inline" style="width:300px">
                            <input class="layui-input" disabled asp-for="@Model.AssociationTitle" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">考试日期</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input class="layui-input" disabled value="@Model.StartTime - @Model.EndTime" />
                        </div>
                        <input type="hidden" asp-for="@Model.StartTime" disabled autocomplete="off" class="layui-input">
                        <input type="hidden" asp-for="@Model.EndTime" disabled autocomplete="off" class="layui-input">
                    </div>


                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">考卷信息</label>
                        <div class="layui-input-inline" style="width:300px">
                            <input class="layui-input" asp-for="@Model.PaperTitle" disabled />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">时长(分钟)</label>
                        <div class="layui-input-inline" style="width:300px">
                            <input class="layui-input" asp-for="@Model.Duration" disabled />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">卷面总分</label>
                        <div class="layui-input-inline" style="width:300px">
                            <input class="layui-input" disabled asp-for="@Model.PaperScore" />
                        </div>
                    </div>


                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">试卷类型</label>
                        <div class="layui-input-inline" style="width:300px">
                            <input class="layui-input" disabled asp-for="@Model.PaperTypeStr" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <select asp-for="@Model.Status" disabled>
                                <option value=0>禁用（禁用后抽题时会避开该卷）</option>
                                <option value=1>正常</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">成绩查询</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <select asp-for="@Model.OpenResult" disabled>
                                <option value=0>不开放（不允许查看成绩）</option>
                                <option value=1>开放（允许查看成绩）</option>
                            </select>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field">
        <legend>题目</legend>
        <div class="layui-field-box">
            <form class="layui-form" lay-filter="mainForm">
                @{
                    int index = 1;
                    foreach (var item in Model.Questions)
                    {
                        string title = "";
                        if (item.Title.StartsWith("<p>"))
                        {
                            title = item.Title.Replace("<p>", $"<p>{index}、").Replace("</p>", "<span class=\"layui-badge\" style=\"margin-left:10px\"> " + item.ItemScore + " 分</span></p>");
                        }
                        else
                        {
                            title = index + "、" + item.Title + "<span class=\"layui-badge\" style=\"margin-left:10px\" > " + item.ItemScore + " 分</span>";
                        }
                        if (item.TypeName.Contains("填空"))
                        {
                            title += "（如果有多个空需要填写，请使用分隔符|分割不同答案）";
                        }
                        <div class="layui-form-item question">

                            @Html.Raw(title)
                            @{
                                if (item.IsObjective == 1 && item.SingleAnswer == 1)
                                {
                                    <div class="layui-input-block" style="margin-left:5px">
                                        @{
                                            string answerCode = "";
                                            foreach (var subItem in item.Items)
                                            {
                                                if (item.TypeName.Contains("判断"))
                                                {
                                                    <input type="radio" name="@item.Id" value="@subItem.Id" title="@subItem.Code">
                                                }
                                                else
                                                {
                                                    <input type="radio" name="@item.Id" value="@subItem.Id" title="@subItem.Code、@subItem.DescriptionTxt">
                                                }


                                                if (subItem.IsAnswer == 1)
                                                {
                                                    answerCode = subItem.Code;

                                                }
                                            }
                                            <blockquote class="layui-elem-quote answer" style="margin-top:5px">
                                                <p style="color:#5FB878">
                                                    正确答案：<span id="correctAnswer_@item.Id">@answerCode</span>

                                                </p>
                                                <p style="color:#1E9FFF;display:none" class="p_userAnswer">用户答案：<span id="userAnswer_@item.Id">未提交</span></p>
                                                <p>题目解析：@(Html.Raw(item.AnalysisTxt))</p>
                                            </blockquote>
                                        }
                                    </div>
                                }
                                else if (item.IsObjective == 1 && item.SingleAnswer == 0)
                                {
                                    <div class="layui-input-block" style="margin-left:5px">
                                        @{
                                            string answerCode = "";
                                            foreach (var subItem in item.Items)
                                            {
                                                <input style="margin-top:10px" type="checkbox" id="@item.Id|@subItem.Id" lay-filter="@subItem.Id" value="@item.Id|@subItem.Id" title="@subItem.Code、@subItem.DescriptionTxt">

                                                @if (subItem.IsAnswer == 1)
                                                {
                                                    answerCode += subItem.Code + "、";
                                                }
                                            }
                                            answerCode = answerCode.TrimEnd('、');
                                            <blockquote class="layui-elem-quote answer" style="margin-top:5px">
                                                <p style="color:#5FB878">正确答案：<span id="correctAnswer_@item.Id">@answerCode</span></p>
                                                <p style="color:#1E9FFF;display:none" class="p_userAnswer">用户答案：<span id="userAnswer_@item.Id">未提交</span></p>
                                                <p>题目解析：@item.AnalysisTxt.Replace("解析：", "")</p>
                                            </blockquote>
                                            <input type="hidden" name="@item.Id" id="@item.Id" value="" />
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="layui-input-block" style="margin-left:5px">
                                        @{

                                            string answerContent = "";
                                            foreach (var subItem in item.Items)
                                            {
                                                <textarea style="margin-top:10px" class="layui-textarea" name="@item.Id" id="text_@item.Id" placeholder="请输入正确答案" readonly></textarea>
                                                
                                            }
                                            <blockquote class="layui-elem-quote answer" style="margin-top:5px">
                                                <p style="color:#5FB878">正确答案：<span id="correctAnswer_@item.Id">参考解析</span></p>
                                                <p style="color:#1E9FFF;display:none" class="p_userAnswer">用户答案：<span id="userAnswer_@item.Id">未提交</span></p>
                                                <p>题目解析：@item.AnalysisTxt.Replace("解析：", "")</p>
                                            </blockquote>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        index++;
                    }
                }
            </form>

        </div>
    </fieldset>

</div>

<script id="recordTpl" type="text/html">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">答题账号</label>
            <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{ decodeURIComponent(d.userName)}}"  />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">证件号</label>
            <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{d.idNumber}}"  />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否交卷</label>
            <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{d.complated}}"  />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否出分</label>
            <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{d.marked}}"  />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">成绩</label>
            <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{d.score}}"  />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">正确率</label>
            <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value=""  id="correctPercent"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
           <label class="layui-form-label">抽卷时间</label>
           <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{d.createdAt}}"  id="createdAt"/>
           </div>
        </div>
        <div class="layui-inline">
           <label class="layui-form-label">最后操作</label>
           <div class="layui-input-inline" style="width:300px">
               {{# if(d.updatedBy && d.updatedBy.indexOf('force')>-1){ }}
                  <input class="layui-input" disabled value="{{d.updatedAt}} 后台强制交卷"  id="updatedAt" style="color:red"/>

               {{#} else { }}
                  <input class="layui-input" disabled value="{{d.updatedAt}}"  id="updatedAt"/>

               {{#}}}
           </div>
        </div>
        <div class="layui-inline">
           <label class="layui-form-label">截止时间</label>
           <div class="layui-input-inline" style="width:300px">
                <input class="layui-input" disabled value="{{d.limitedTime}}"  id="limitedTime"/>
           </div>
        </div>
    </div>

    <div class="layui-form-item">

        {{# if(d.complatedMode==4){ }}
        <div class="layui-inline" >
            @*<label class="layui-form-label">后台交卷</label>*@
            <div class="layui-input-inline">
                <a href="javascript:;" onclick="forceSubmit()"  class="layui-btn layui-btn-danger">强制后台交卷</a>
            </div>
        </div>

        {{# } }}

         <blockquote class="layui-elem-quote layui-form-item">注意：最后操作时间和截至时间前后允许存在2分钟以内的误差；正确率的统计在包含主观题的情况下是不准确的，请以最后得分为准。</blockquote>

    </div>
</script>

<script>
    let form = layui.form;
    let correctPercent = 0;
    let token = $('@Html.AntiForgeryToken()').val();//token，防csrf

    form.render('radio');
    form.render('checkbox')
    form.render('select');
    $('#btnBack').attr('href', `@Url.Action("Index")?examId=@Model.ExamId&associationId=@Model.AssociationId`)
    let urid = getUrlQueryParams('urid');
    getUserAnswer()
    function getUserAnswer() {
        layer.load()
        //layer.load(2, { time: 10 * 1000 })
        axios.get('@Url.Action("GetRecordDetail")', {
            params: {
                'urid': urid
            }
        }).then(v => {
            //console.log(v);
            layer.closeAll('loading');
            let json = v.data;
            if (json.code == 0) {
                renderTpl('recordTpl', 'recordView', json.data, false);
                let answers = json.data.answers;

                for (let answer of answers) {
                    //let userAnswer = JSON.stringify(answer.userAnswer);

                    $('.p_userAnswer').show();
                    let finalAnswer = answer.userAnswer.join('、');
                    $('#userAnswer_' + answer.questionId).html(finalAnswer)
                    
                    $('#text_' + answer.questionId).val(finalAnswer)
                    if ($('#userAnswer_' + answer.questionId) && $('#correctAnswer_' + answer.questionId) && $('#userAnswer_' + answer.questionId).html() == $('#correctAnswer_' + answer.questionId).html()) {
                        $('#userAnswer_' + answer.questionId).html(finalAnswer + ' <span class="layui-badge layui-bg-green">答对</span>');
                        correctPercent++
                    }
                }
                let questionCnt = $('.question').length;
                if ((correctPercent * 100 / questionCnt).toFixed(2) > 100) {
                    jValSet('correctPercent', '统计异常，请以最终得分为准');
                } else
                    jValSet('correctPercent', (correctPercent * 100 / questionCnt).toFixed(2) + `%（答对${correctPercent}道题）`)
            }
        })
    }

    setTimeout(function () {
        layer.closeAll('loading');
    }, 2000);

    function forceSubmit() {
        layer.confirm('该操作建议在考试结束后执行，避免造成不必要的错误，确定要强制交卷吗？', { icon: 0 }, async function (index) {

            let formData = new FormData();
            formData.append('__RequestVerificationToken', requestToken);
            formData.append('urid', urid);
            var ret = await request('POST', '@Url.Action("ForceMarking")', formData, { 'Content-Type': 'multipart/form-data' });
            layer.close(index);
            if (ret.code == 0) {
                successMsg(ret.msg, () => {
                    location.reload();
                })
            } else
                errorMsg(ret.msg);
        })
    }
</script>
