@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
@model Magic.Guangdong.DbServices.Entities.District
<div class="layui-card layui-panel">
    <div class="layui-card-header" style="color:#16baaa;font-size:large">
        新增区县
    </div>
    <div class="layui-card-body">
        <form class="layui-form main-form" lay-filter="admin-form">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-badge-dot"></span> 行政代码</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="number" asp-for="Id" placeholder="国际统一行政代码(纯数字)" lay-affix="clear" autocomplete="off" readonly/>
                    <blockquote class="layui-elem-quote" style="margin-top:5px">注意，行政代码不可以随意乱写，系统里已有的省份都是严格按照国家行政区划代码的设置填写，且包含了现有所有省，自治区，直辖市和港澳台地区及其下属城市和区县。新增非国内省份时要注意该代码要有统一辨识度！</blockquote>

                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-badge-dot"></span> 区县名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" asp-for="DistrictName" placeholder="请输入区县名称" lay-affix="clear" autocomplete="off" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-badge-dot"></span> 归属城市</label>
                <div class="layui-input-inline" style="width:15%">
                    <select id="ProvinceId" lay-filter="provinceId">
                        <option>请选择省份</option>
                    </select>

                    @* <input type="hidden" id="ProvinceId"/> *@
                </div>
                <div class="layui-input-inline" style="width:15%">
                    <select asp-for="CityId" lay-filter="cityId">
                        <option>请选择城市</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-badge-dot"></span> 状态</label>
                <div class="layui-input-block">
                    <select asp-for="Status">
                        <option value=0>正常</option>
                        <option value=1>禁用</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" lay-submit lay-filter="form-submit">立即提交</a>
                    <a href="index" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
<script>
    let form = layui.form;

    axios.get('@Url.Action("GetDistrictView")', { params: {
        id:'@Model.Id'
    }
    }).then(data => {
        let json = data.data;
        console.log(json)
        if (json.code == 0) {
            getSelectItems('/system/province/getprovincedrops', {}, 'selectTpl', 'ProvinceId')
                .then(() => {
                    $("#ProvinceId").val(json.data.provinceId);
                    form.render('select(provinceId)');
                })

            getSelectItems('/system/city/getcitydrops', { provinceId: json.data.provinceId }, 'selectTpl', 'CityId')
                .then(() => {                   
                    $("#CityId").val(json.data.cityId);
                    form.render('select');
                })
        }
    })
    

    form.on('submit(form-submit)', async function (data) {
        let field = data.field;
        let formData = objectToFormData(field);
        let ret = await request('POST', '@Url.Action("Edit")', formData, CT);
        if (ret.code == 0) {
            successMsg('保存成功', () => {
                window.location.href = '@Url.Action("Index")';
            })
            return;
        }
        errorMsg('添加失败,' + ret.msg);
    })
</script>

