<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["providerName"]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="/images/examination_logo-32.ico" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/axios/axios.min.js" asp-append-version="true"></script>
    <script src="~/lib/layui/layui.js" asp-append-version="true"></script>
    <script src="~/web/teacherBase.js"></script>
    <script src="~/web/requestapi.js" asp-append-version="true"></script>
    <script src="~/web/layextend.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)    
    <script>
        let requestToken = $('@Html.AntiForgeryToken()').val();
        const CT = { 'Content-Type': 'multipart/form-data' };
        let csrfTokenKey = '__RequestVerificationToken';
    </script>
    <script type="text/html" id="selectTpl">
        <option value="0">请选择</option>
        {{# layui.each(d,function(index,item){}}
        <option value="{{ item.value }}">{{item.text}}</option>
        {{# }) }}
    </script>
    <script type="text/html" id="indexTpl">
        @* {{ d.LAY_INDEX+1 }} *@
         {{ d.LAY_NUM }}
    </script>
</head>
<body>
    <div class="layui-row">
        <div style="padding:15px">
            <span style="margin-bottom:10px" class="layui-breadcrumb" lay-filter="breadcrumb" id="breadcrumb"></span>
            
            <!-- 内容主体区域 -->
            @RenderBody()
        </div>
    </div>
    
   
    <script>
        layer.closeAll('loading');
        autoCheckFormRequired();
        autoCheckLoginStatus();
        let theutil = layui.util;
        // 自定义固定条
        theutil.fixbar({
            bars: [{
                type: '返回首页',
                icon: 'layui-icon-home'
            }, { 
                type: '去判卷',
                icon: 'layui-icon-release'
            }, {
                type: '退出登录',
                icon: 'layui-icon-logout',
                style: 'background-color: #FF5722;'
            }],
            // bar1: true,
            // bar2: true,
            // default: false, // 是否显示默认的 bar 列表 --  v2.8.0 新增
            bgcolor: '#c2c2c2', // bar 的默认背景色
            // css: {right: 100, bottom: 100},
            // target: '#target-test', // 插入 fixbar 节点的目标元素选择器
            // duration: 300, // top bar 等动画时长（毫秒）
            on: { // 任意事件 --  v2.8.0 新增
                mouseenter: function (type) {
                    layer.tips(type, this, {
                        tips: 4,
                        fixed: true
                    });
                },
                mouseleave: function (type) {
                    layer.closeAll('tips');
                }
            },
            // 点击事件
            click: function (type) {
                if (type == '返回首页')
                    location.href = '@Url.Action("Dashboard")';
                else if (type == '去判卷')
                    location.href = '@Url.Action("papers")'
                else if(type=='退出登录')
                    location.href = '/system/account/logout'
                console.log(this, type);
                // layer.msg(type);
            }
        });
    </script>
</body>
</html>