@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
@* @model Magic.Guangdong.DbServices.Entities.Examination *@
@model Magic.Guangdong.DbServices.Dtos.Exam.Examinations.ExaminationDto

<div class="layui-row" style="padding:15px">
    <form class="layui-form">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UpdatedBy" />
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 考试标题</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="Title" placeholder="请创建考试标题，如xx年度xx活动第x次在线考试" lay-verify="required" required />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 考试详情</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" asp-for="Description" placeholder="考试详情" lay-verify="required" required></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 考试地点</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="Address" placeholder="请创建考试标题，如xx年度xx活动第x次在线考试" lay-verify="required" required />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 关联活动</label>
            <div class="layui-input-block">
                @* <select asp-for="AssociationId" lay-filter="AssociationId" lay-verify="required" required>
                </select>*@
                <div id="AssociationIdSelect">
                </div>
            </div>
            <input type="hidden" asp-for="AssociationId" />
            <input type="hidden" asp-for="AssociationTitle" />

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 报考名额</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="Quota" readonly placeholder="请输入当前考试限制的最高报考人数，0则表示不限制" lay-verify="required|number" required />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 报名费用</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="Expenses" readonly placeholder="请输入当前考试的报名费用，0则表示没有费用" lay-verify="required|number" required />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 基础分数</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="BaseScore" placeholder="请创建考试总分数，后续创建的试卷总分均基于此分数" lay-verify="required|number" required />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 考试期限</label>
            <div class="layui-input-block">
                <input id="ExamDuration" class="layui-input" placeholder="请选择允许考试的起止日期" autocomplete="off" lay-verify="required" required />
            </div>
            <input type="hidden" asp-for="StartTime" />
            <input type="hidden" asp-for="EndTime" />
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 考试时长</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="BaseDuration" placeholder="开始答题后的考试时间，单位分钟" lay-verify="required|number" required />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 考试类型</label>
            <div class="layui-input-block">
                <select asp-for="ExamType" lay-filter="ExamType">
                    <option value=0 selected>考试</option>
                    <option value=1>练习</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="display:none" id="divPractice">
            <label class="layui-form-label">依附考试</label>
            <div class="layui-input-block">
                <select asp-for="AttachmentId">
                    <option>请选择要依附的考试</option>
                </select>
            </div>
            <br />
            <blockquote class="layui-input-block layui-elem-quote">
                练习模式下，可以选择依附一场正式考试，依附之后，用户进行练习报名时，可一键带入其在考试模式下填写的信息。
            </blockquote>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 状态</label>
            <div class="layui-input-block">
                <select asp-for="Status">
                    <option value=0>开启</option>
                    <option value=1>关闭</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 开启审核</label>
            <div class="layui-input-block">
                <select asp-for="Audit">
                    <option value=1>开启</option>
                    <option value=2>不开启</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-badge-dot"></span> 严格交卷</label>
            <div class="layui-input-block">
                <select asp-for="IsStrict">
                    <option value=0 selected>否</option>
                    <option value=1>是</option>
                </select>
            </div>
            <br />

            <blockquote class="layui-input-block layui-elem-quote">
                用来标识考试的严格程度，当前该字段可用来标识超时后是否给超时未交卷的用户成绩。以后还可以标识是否检查作弊等（作弊检查功能尚未开发）
                <br />是-超时后不会自动交卷，即判定0分
                <br />否-超时后也会给予相应的成绩
            </blockquote>
        </div>

        <div class="layui-form-item" style="display:none">
            <label class="layui-form-label">答题条件（双击）</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" readonly ondblclick="setValidate()" placeholder="双击设定允许参与本场考试的答题条件，会关联申报信息" asp-for="@Model.ExtraInfo"></textarea>
            </div>
        </div>

        <div class="layui-form-item" style="display:none">
            <label class="layui-form-label">聚合码</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="GroupCode" placeholder="聚合码相同的考试，可通过扫描同一个二维码进入" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="OrderIndex" placeholder="请输入排序数字" type="number" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input class="layui-input" asp-for="Remark" placeholder="备注" />
            </div>
        </div>


        <div class="layui-row">
           @*  <div class="layui-form-item">
                <label class="layui-form-label">页头配置</label>
                <div class="layui-col-md4">
                    <input class="layui-input" id="pageHeader" placeholder="页头，小图，180px<=height<=200px" />
                </div>
                <div class="layui-col-md2" style="margin-left:5px">
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageHeaderUp">
                        <i class="layui-icon layui-icon-upload"></i> 上传
                    </a>
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageHeaderPreview">
                        <i class="layui-icon layui-icon-picture"></i> 预览
                    </a>
                </div>
            </div> *@

           @*  <div class="layui-form-item">
                <label class="layui-form-label">页中配置</label>
                <div class="layui-col-md4">
                    <input class="layui-input" id="pageBody" placeholder="页中，背景图，大图" />
                </div>
                <div class="layui-col-md2" style="margin-left:5px">
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageBodyUp">
                        <i class="layui-icon layui-icon-upload"></i> 上传
                    </a>
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageBodyPreview" style="margin-left:0">
                        <i class="layui-icon layui-icon-picture"></i> 预览
                    </a>
                </div>
            </div> *@

            @* <div class="layui-form-item">
                <label class="layui-form-label">页尾配置</label>
                <div class="layui-col-md4">
                    <input class="layui-input" id="pageFooter" placeholder="页尾，小图，180px<=height<=200px" />
                </div>
                <div class="layui-col-md2" style="margin-left:5px">
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageFooterUp">
                        <i class="layui-icon layui-icon-upload"></i> 上传
                    </a>
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageFooterPreview">
                        <i class="layui-icon layui-icon-picture"></i> 预览
                    </a>
                </div>
            </div> *@

            <div class="layui-form-item">
                <label class="layui-form-label">图片资源</label>
                <div class="layui-col-md4">
                    <input class="layui-input" id="imgResource" placeholder="请上传附件或者直接输入附件链接，页头或者页尾" />
                </div>
                <div class="layui-col-md2 layui-progress layui-progress-big" style="margin-top:8px;width:20%;display:none" id="attachBar" lay-filter="attachBar" lay-showPercent="true">
                    <div class="layui-progress-bar  layui-bg-blue" lay-percent="0%"></div>
                </div>
                <div class="layui-col-md3" style="margin-left:5px">
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageResourceUp">
                        <i class="layui-icon layui-icon-upload"></i> 上传
                    </a>
                    <a href="javascript:;" class="layui-btn layui-btn-primary" id="pageResourcePreview">
                        <i class="layui-icon layui-icon-picture"></i> 预览
                    </a>
                    <a class="layui-btn layui-btn-warm" id="btnCopy"  data-clipboard-target="#imgResource"><i class="layui-icon layui-icon-template-1"></i>复制</a>

                </div>
            </div>

            <input type="hidden" asp-for="PageConfig" />
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">页面参数</label>
            <div class="layui-input-block">
                <div class="codeDiv" id="codeDiv" style="height:500px;margin-top:10px">
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="margin-left:110px">
            <a class="layui-btn save" href="javascript:;" lay-submit lay-filter="save" id="save"><i class="layui-icon layui-icon-release"></i>保存</a>
            <a class="layui-btn layui-btn-disabled disabledsave" href="javascript:;" style="display:none"><i class="layui-icon layui-icon-release"></i>保存</a>

            <a class="layui-btn layui-btn-primary" href="@Url.Action("Index")" id="btnBack"><i class="layui-icon layui-icon-left"></i>返回</a>
        </div>
        <input asp-for="CreatedAt" type="hidden" />
        @Html.AntiForgeryToken()
    </form>
</div>

<script src="~/plugins/tinymce/tinymce.min.js"></script>
<script src="~/plugins/mytinymce.js"></script>
<script src="~/plugins/xm-select.js"></script>
<script src="~/web/myxselect.js"></script>
<script src="~/web/myfcup.js"></script>
<script src="~/plugins/monaco-editor/min/vs/loader.min.js" defer></script>
<script src="~/plugins/clipboard/clipboard.min.js"></script>
<script>
    let form = layui.form;
    let token = $('@Html.AntiForgeryToken()').val();
    let laydate = layui.laydate;
    let base_ajax_url = '';

    let pageConfigJson = {
        'headerBackgroundImg': '',
        'footerBackgroundImg': '',
        'pageHost': baseDownloadUrl,
        'topMenus': [
            { 'url': '#', 'title': '首页' }
        ],
        'submenu_back':'',
        'submenu_current': '#',
        'submenu_profile': '#',
        'theme': 'jade',
        'footerRemarks': [
            { 'title': '网站支持', 'hasLink':false,'description':'校校通'},
            { 'title': '网站备案', 'hasLink': true, 'link': 'http://baidu.com', 'description': '网站备案' }
        ],
    };

    $('#UpdatedBy').val(atob(localStorage.getItem('userId')));
    InitTinymce('Description', '', '@Magic.Guangdong.Assistant.ConfigurationHelper.GetSectionValue("resourcehost")', '')


    let objType = {
        'url': '/report/activity/getactivitydrops'
        , 'param': {}
        , 'elem': 'AssociationIdSelect'
        , 'radio': true
        , 'tips': '请选择活动'
        , 'prop': { name: 'text', value: 'value' }
        , 'initValue': ['@Model.AssociationId']
        , 'tool': false
        , 'result': ''
        , 'func': function (data) {
            console.log(data);
            if (data.isAdd) {
                $('#AssociationTitle').val(data.arr[0].text);
                $('#AssociationId').val(data.arr[0].value);
                getExamMini();
            } else {
                $('#AssociationTitle').val('');
                $('#AssociationId').val('');
                $('#AttachmentId').val('').html('');
                form.render('select')
            }
        }
    }
    makeXmSelect(objType);
    form.render('select');
    laydate.render({
        elem: '#ExamDuration' //指定元素
        , type: 'datetime'
        , range: true
        , format: 'yyyy/MM/dd HH:mm:ss'
        , value: jVal('StartTime').replace('-', '/').replace('-', '/') + ' - ' + jVal('EndTime').replace('-', '/').replace('-', '/')
        , done: function (value, date, endDate) {
            let parts = value.split(' - ');
            jValSet('StartTime', parts[0]);
            jValSet('EndTime', parts[1]);
        }
    });

    form.on('submit(save)', async function (data) {
        // setPageConfig()
        console.log(editorManager.getCodeContent())
        

        //return;
        let formData = objectToFormData(data.field);
        formData.set('PageConfig', JSON.stringify(editorManager.getCodeContent()));
        await submitExamChanges(formData);
    })

    async function submitExamChanges(formData) {
        var ret = await request('POST', '@Url.Action("Edit")', formData, { 'Content-Type': 'multipart/form-data' });
        if (ret.code == 0) {
            successMsg('保存成功', () => {
                window.location.href = '@Url.Action("Index")';
            });
            return;
        }
        if (ret.code == 1) {
            layer.confirm(ret.msg + '是否继续', { icon: 0 }, async (index) => {
                formData.append('IsForce', 1);
                await submitExamChanges(formData)
            })
            return;
        }

        errorMsg('保存失败，' + ret.msg)
    }

    if (jVal('ExamType') == '1') {
        $('#divPractice').show();
        getExamMini()
    }

    form.on('select(ExamType)', (data) => {
        console.log(data.value)
        if (data.value == '1') {
            $('#divPractice').show();
            getExamMini();
        } else {
            $('#divPractice').hide();
            $('#AttachmentId').val('');
        }
    })



    function getExamMini() {
        let initAttachmentId = '@Model.AttachmentId';
        let activityId = $('#AssociationId').val();
        if (!activityId) {
            errorMsg('请先选择关联活动');
            return;
        }
        getSelectItems('@Url.Action("GetExamMini")', { id: activityId, type: 0, examType: 0 }, 'selectTpl', 'AttachmentId', false)
            .then(() => {
                if (initAttachmentId) {
                    $('#AttachmentId').val(initAttachmentId);
                    form.render('select')
                }
            })
    }

    function setValidate() {
        warnMsg('暂不支持')
        return;
        localStorage.setItem("initStr", jVal("ExtraInfo"));
        layer.open({
            type: 2,
            content: '@Url.Action("SetValidate")',
            shade: [0.3, '#393D49'],
            area: ['100%', '100%'],
            closeBtn: 0,//不显示答题按钮，必须通过点击子页面内按钮关闭
            title: '设定答题条件',
            maxmin: true,
            zIndex: layer.zIndex,
            success: function (layero) {

                //弹出后回调
                layer.setTop(layero);
            },
            end: function () {
                //关闭弹窗，重新加载列表
                //getTable(params);
                jValSet('ExtraInfo', localStorage.getItem('expressionStr'))
            }
        })
    }


    function setPageConfig() {
        }


    initUploadFilePro({
        elemId: 'pageResourceUp',
        callback: (res) => {
            //console.log(res)
            $('#imgResource').val( res.data);
            
        }
    })


    $('#pageResourcePreview').click(() => {
        if (pageConfigJson.pageHeader) {
            window.open(pageConfigJson.pageHost + pageConfigJson.pageHeader)
        } else
            errorMsg('没有上传任何文件');
    })


    //renderCodeEditor()
    let editorObj = {
        containerId: 'codeDiv',
        initialLanguage: 'json',
        defaultCode: document.getElementById('PageConfig').value ? JSON.parse(document.getElementById('PageConfig').value) : pageConfigJson
    }
    //console.log(editorObj)
    let editorManager = createMonacoEditor(editorObj)
    setTimeout(async () => {
        await editorManager.init();
        console.log(1)
    }, 100)

    function createMonacoEditor(edtiorParmas) {
        const container = document.getElementById(edtiorParmas.containerId);

        if (!container) {
            throw new Error(`Container with id "${edtiorParmas.containerId}" not found.`);
        }

        return {
            async init() {
                // 加载Monaco编辑器核心模块和语言包
                await new Promise((resolve) => {
                    require.config({ paths: { 'vs': '/plugins/monaco-editor/min/vs' } });
                    require(['vs/editor/editor.main'], resolve);
                });

                // 初始化Monaco编辑器配置和默认值
                const editorOptions = {
                    language: edtiorParmas.initialLanguage || 'javascript',// 默认为JavaScript，若传入语言则使用传入的语言
                    theme: edtiorParmas.theme || 'vs-dark',
                    automaticLayout: true,
                    // 配置格式化选项
                    formatting: {
                        insertSpaces: true,
                        tabSize: 2,
                        eol: '\n'
                    }
                };

                // 创建Monaco编辑器实例
                this.currentEditor = monaco.editor.create(container, editorOptions);
                // 如果提供了默认代码，则写入编辑器
                if (edtiorParmas.defaultCode) {
                    this.currentEditor.setValue(edtiorParmas.defaultCode.replaceAll('\\r\\n', '\r\n'));

                }


            },

            /**
             * 获取编辑器内的代码内容
             * returns {string} 编辑器内的代码文本
             */
            getCodeContent() {
                if (!this.currentEditor) {
                    throw new Error('Editor has not been initialized yet.');
                }
                return this.currentEditor.getValue();
            },
            /**
             * 设置编辑器的语言
             * param {string} language - 编辑器的新语言
             */
            setLanguage(language) {
                const currentEditor = monaco.editor.getModels()[0];
                //currentEditor.setModelLanguage(language);
                monaco.editor.setModelLanguage(currentEditor, language);
            },
            /**
             * 设置编辑器内的代码内容
             * param {string} codeContent - 新的代码内容
             */
            setCodeContent(codeContent) {

                this.currentEditor.setValue(codeContent);
            },

            /**
             * 监听代码变化并保存到 sessionStorage
             * param {string} id - 用于标识的唯一 ID
             */
            monitorCode(id) {
                this.currentEditor.onDidChangeModelContent((e) => {

                    sessionStorage.setItem("currCode_" + id, this.currentEditor.getValue());
                });
            },


                /**
                 * 格式化代码
                 */
                formatCode() {
                if (!this.currentEditor) {
                    throw new Error('Editor has not been initialized yet.');
                }
                const action = this.currentEditor.getAction('editor.action.formatDocument');
                if (action) {
                    action.run();
                } else {
                    console.error('Format action not found.');
                }
            }
        };
    }

    var clipboard = new ClipboardJS('#btnCopy', {
        text: function (trigger) {
            if (!$("#imgResource").val()) {
                errorMsg("附件为空");
                return;
            }
            let partUrl = $("#imgResource").val();
            //let attachUrl = `${baseDownloadUrl}${partUrl}`;
            // 在这里根据文本框的内容生成要复制的完整文本
            return partUrl;
        }
    });
    clipboard.on('success', function (e) {
        layer.alert(`复制成功，可在下方代码编辑器中输入设置页头或者页尾，注意保留引号<br />格式为,"pageHeader":"{复制的代码}"，或者"pageFooter":"{复制的代码}"`, { icon: 0 })
        $("#imgResource").val('')
    });
</script>